.leaderBoard{
    margin: 5px;
    padding: 5px;
    background: white;
}
.lb-titulo{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.lb-header {
    font-family: 'Lilita One';
    margin: 7px;
    background: #0062cc;
    padding: .6em .8em .8em;
    color: white;
    margin: 5px;
    cursor: pointer;
    outline: 0;
    transition: .2s;
    will-change: transform;
}
.lb-datos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
}
.lb-datos > div {
    width: 50%;
    background: white;
}
.lb-datos > div > div {
    background: #eee;
    margin: 5px;
    text-align: center;

}